body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
}

/* Logo */
#logo {
    max-height: 30vh;
    margin: 20px auto;
}

/* Navbar */
nav {
    margin: 20px 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#schoolWebsite {
    color: #000;
    font-size: 20px;
}

.lang img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* Project name (La nave della legalità) */
#projectName {
    text-align: center;
}

/* Hovered item title */
#itemName {
    text-align: center;
    font-style: italic;
    margin: 0;
}

/* Timeline */
.timeline {
    width: 100vw;
    height: 30px;
    margin-top: auto;
    margin-bottom: 25vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline > div {
    margin: 0 10px;
}

.circle {
    background-size: cover;
    filter: grayscale(100%);
    border: 10px solid black;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    transition: all .5s;
    cursor: pointer;
}

.circle:hover {
    width: 180px;
    height: 180px;
    border-radius: 0%;
}

.borsellino {
    background-image: url("images/borsellino.png");
}
.falcone {
    background-image: url("images/falcone.png");
}
.chinnici {
    background-image: url("images/chinnici.png");
}
.puglisi {
    background-image: url("images/puglisi.png");
}
.pizzo {
    background-image: url("images/pizzo.png");
}
.lenzuola {
    background-image: url("images/lenzuola.png");
}