body {
    padding: 0;
    margin: 0;
}

.timeline {
    position: absolute;
    bottom: 200px;
    width: 100vw;
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline > div {
    margin: 0 30px;
}

h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-style: italic;
}

.circle {
    background-size: cover;
    filter: grayscale(100%);
    border: 10px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transition: all .5s;
}

.circle:hover {
    width: 180px;
    height: 180px;
    border-radius: 0%;
}

.borsellino {
    background-image: url("images/borsellino.png");
}
.falcone {
    background-image: url("images/falcone.png");
}
.chinnici {
    background-image: url("images/chinnici.png");
}
.puglisi {
    background-image: url("images/puglisi.png");
}
.pizzo {
    background-image: url("images/pizzo.png");
}
.lenzuola {
    background-image: url("images/lenzuola.png");
}