body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
}

/* Logo */
#logo {
    max-height: 30vh;
    margin: 20px auto;
    height: 30vh;
}

/* Navbar */
nav {
    margin: 20px 10px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#schoolWebsite {
    color: #000;
    font-size: 20px;
}

.lang img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}

/* Project name (La nave della legalità) */
#projectName {
    text-align: center;
    font-size: 20px;
}

/* Hovered item title */
#crossfade {
    position: relative;
}

#itemNameCF1, #itemNameCF2 {
    width: 100vw;
    text-align: center;
    font-style: italic;
    margin: 0;
}

#itemNameCF1 {
    position: absolute;
}

#itemNameCF2 {
	opacity: 0;
}

/* Timeline */
#timeline {
    width: 100vw;
    height: 30px;
    margin-top: auto;
    margin-bottom: 25vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeline > div {
    margin: 0 10px;
}

.circle {
    background-size: cover;
    filter: grayscale(100%);
    border: 10px solid black;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    transition: all .5s;
    cursor: pointer;
}

.circle:hover {
    width: 180px;
    height: 180px;
    border-radius: 0%;
}

/* Item */
#item {
    max-width: 70vw;
    overflow: hidden auto;
    margin: 25px auto auto auto;
    transition: all 1s;
    opacity: 0;
}

#closeItem {
	display: none;
    text-align: right;
    padding: 15px 40px 0 0;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

#closeItem:hover {
    color: red;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    text-align: center;
    cursor: pointer;
}

/* Animations */
#timeline, #logo, #itemNameCF1, #itemNameCF2, nav {
    transition: all .5s;
}